# Ignore build and log files
node_modules/
dist/
build/
*.log

# Ignore environment files
.env

# Ignore specific config files
vite.config.js
tailwind.config.js

# Ignore React JSX files in the src directory
src/*.jsx

# Ignore entire directories if needed
src/people/
public/

